<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>Servlets.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register_Simple_User</servlet-name>
        <servlet-class>Servlets.Register_Simple_User</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register_Doctor</servlet-name>
        <servlet-class>Servlets.Register_Doctor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>username_check</servlet-name>
        <servlet-class>Servlets.username_check</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>email_check</servlet-name>
        <servlet-class>Servlets.email_check</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>amka_check</servlet-name>
        <servlet-class>Servlets.amka_check</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Servlets.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getDoctors</servlet-name>
        <servlet-class>Servlets.getDoctors</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Servlets.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Update_Simple_User</servlet-name>
        <servlet-class>Servlets.Update_Simple_User</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getAllDoctors</servlet-name>
        <servlet-class>Servlets.getAllDoctors</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getUncertifiedDoctors</servlet-name>
        <servlet-class>Servlets.getUncertifiedDoctors</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CertifyDoctors</servlet-name>
        <servlet-class>Servlets.CertifyDoctors</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getAllUsers</servlet-name>
        <servlet-class>Servlets.getAllUsers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUsers</servlet-name>
        <servlet-class>Servlets.DeleteUsers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteDoctors</servlet-name>
        <servlet-class>Servlets.DeleteDoctors</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addBloodTest</servlet-name>
        <servlet-class>Servlets.addBloodTest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getBloodTest</servlet-name>
        <servlet-class>Servlets.getBloodTest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getTreatment</servlet-name>
        <servlet-class>Servlets.getTreatment</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register_Simple_User</servlet-name>
        <url-pattern>/Register_Simple_User</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register_Doctor</servlet-name>
        <url-pattern>/Register_Doctor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>username_check</servlet-name>
        <url-pattern>/username_check</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>email_check</servlet-name>
        <url-pattern>/email_check</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>amka_check</servlet-name>
        <url-pattern>/amka_check</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getDoctors</servlet-name>
        <url-pattern>/getDoctors</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Update_Simple_User</servlet-name>
        <url-pattern>/Update_Simple_User</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getAllDoctors</servlet-name>
        <url-pattern>/getAllDoctors</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getUncertifiedDoctors</servlet-name>
        <url-pattern>/getUncertifiedDoctors</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CertifyDoctors</servlet-name>
        <url-pattern>/CertifyDoctors</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getAllUsers</servlet-name>
        <url-pattern>/getAllUsers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUsers</servlet-name>
        <url-pattern>/DeleteUsers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteDoctors</servlet-name>
        <url-pattern>/DeleteDoctors</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addBloodTest</servlet-name>
        <url-pattern>/addBloodTest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getBloodTest</servlet-name>
        <url-pattern>/getBloodTest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getTreatment</servlet-name>
        <url-pattern>/getTreatment</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
