/* Background image for the page. */
body{
    background-image: url("../images/background.png");
    background-size: 100%;
}

footer{
    bottom: 0%;
    position: fixed;
    background: rgba(255, 255, 255, 0.687);
    box-shadow: 0px 0px 40px 40px hsla(0, 0%, 70%, 0.534);
    width: 100%;
    height: 60px;
    text-align: center;
}

/* Customizing the form container. 
#form{
    margin: auto;
    text-align: center;
    box-shadow: 0px 0px 40px 40px hsla(0, 0%, 100%, 0.534);
    background: rgba(255, 255, 255, 0.787);
   
}*/
table,
th,
td {
    border: 1px solid red;
    border-collapse: collapse;
}

td:nth-child(1) {
    width: 40%;
}

td:nth-child(2) {
    width: 60%;
}

#button {
    margin: auto;
    text-align: center;
    box-shadow: 0px 0px 40px 40px hsla(0, 0%, 100%, 0.534);
    background: rgba(255, 255, 255, 0.787);
}

/* Shadow when a btn is hovered. */
.btn:hover{
    box-shadow: 0px 0px 5px 5px hsl(0, 0%, 100%);
}

/* Some margin for the height input. 
#height{
    margin-top: 24px;
}

/* Some margin for the weight input. 
#weight{
    margin-top: 24px;
}*/

/* Some margin for the gender input. */
#gender{
    margin-top: 2rem;
}

/* Some margin for the bloodtype input. */
#bloodtype{
    margin-top: 1rem;
}

/* Making the header section have shadow. */
header{
    color: hsl(0, 0%, 0%);
    text-shadow: 2px 2px #ec6565c9;
}

/* Customizing the required text */
#require{  
    font-size: 0.8rem;
    text-align: right;
}

/* When passwords are not the same print something in a div. */
#passErr{
    text-align: center;
    color: red;
}

#showpass{
    position: relative;
    right: 2rem;
    width: 7rem;
}

#showpassver{
    position: relative;
    right: 2rem;
    width: 7rem;
}

#checkAddr{
    width: 7rem
}

#map {
    width: 7rem;
}

#Map {
    display: none;
    height: 600px;
    width: 100%;
    /*width: 1230px;*/
}

#addrError {
    color: red;
    font-size: 1.2rem;
}

#crete {
    color: red;
    font-size: 1.2rem;
}

#erroramka {
    color: red;
    font-size: 1.5rem;
}

#username_email_exists{
    color: red;
    font-size: 1.5rem;
}

/* Some changes when px < 991 for responsiveness*/
@media (max-width: 991px){
    #gender{
        margin-top: auto;
    }

    #gender{
        margin-bottom: 1rem;
    }

    #showpass{
        width: 6rem;
    }

    #showpassver{
        width: 6rem;
    }
}

/* Some changes when px < 357 for responsiveness*/

@media (max-width: 357px){
    label{
        font-size: 0.8rem;
    }

    #showpass{
        width: 4rem;
    }

    #showpassver{
        width: 4rem;
    }
}

/* Some changes when px < 767  for responsiveness*/
@media (max-width: 767px){
    #height{
        margin-top: auto;
    }

    #weight{
        margin-top: auto;
    }

    #gender{
        margin-bottom: 1rem;
    }

    #type{
        margin-bottom: 1rem;
    }

    #donor{
        margin-bottom: 1rem;
    }
}